.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 2s linear;
  height: 80px;
}

.App-header {

  height: 200px;
  padding: 20px;
  color: black;
  font-family: party;

 }

 h1 {
  font-size: 4em;
 }

.App-intro {
  font-size: large;
}
@font-face {
    font-family: party;
    src: url(GreatParty.ttf);
}

@keyframes App-logo-spin {
  0% { transform: rotate(70deg); }
  50%{ transform: rotate(20deg); }
  100% {transform: rotate(70deg);}
}

.loginBtn {
  margin: 2em auto;
}

.playerBtn {
  margin: 1em auto;
}
.btn-group {
  margin: 1em auto;
}
